/*
    UTILITIES
 */

@media (min-width: 576px) {
    html {
        font-size: 1.2rem;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 1.4rem;
    }
}


@media (min-width: 992px) {
    html {
        font-size: 1.6rem;
    }
}

html,
body {
    height: 100% !important;
    font-size: 1rem;
}


/*
    THEME
*/
.bg-theme{
    background-color: #000000 !important;
}

.color-theme{
    color: #000000 !important;
}

.border-theme{
    border-color: #000000 !important;
}


